<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>index</title>
    <style type="text/css">
#Title {
  font-family: "monospace";
  color: #999999;
}

#title-name {
  color: #999999;
  font-family: "monospace";
}

#title-inst {
  font-family: "monospace";
  color: silver;
}

#body-text {
  color: #999999;
  visibility: visible;
  text-align: left;
}

#menu {
  font-size: large;
  text-align: center;
  color: #99ccff;
}
      
a {
  font-family: "monospace";
  color: #66ccff;
}

</style></head>
  <body id="body-text" style="   background-color: black; font-size: medium; font-family: &quot;monospace&quot;; margin-left: 246px; width: 901px; color: silver; letter-spacing: normal; line-height: 150%;">
    <table style="width: 100%" border="0">
      <tbody>
        <tr>
          <td id="menu"><a href="/index.html">Home</a></td>
          <td id="menu"><a href="education.html">Education</a></td>
          <td id="menu"><a href="research.html">Research</a></td>
          <td id="menu"><a href="outreach.html">Outreach</a></td>
          <td id="menu"><a href="talks.html">Talks</a></td>
          <td id="menu"><a href="contact.html">Contact</a></td>
        </tr>
      </tbody>
    </table>
    <br>
    <table style="width: 900px; height: 238px;" border="0">
      <tbody>
        <tr>
          <td style="text-align: right; width: 150px;"><img style="width: 157px; height: 157px;"
              alt="" src="images/headshot.png"><br>
          </td>
          <td style="color: #ccccff; margin-left: -56px; width: 750px;"> <font
              style="color: pink; font-size: 30pt; line-height: normal;">Francisca
              Concha-Ramírez</font><br>
            <font style="color: #999999; font-size: 20pt; line-height: 10px;">PhD
              candidate @ Leiden Observatory<br>
              <br>
            </font> <a target="_blank" href="mailto:fconcha@strw.leidenuniv.nl"><img
                style="width: 38px; height: 38px;" alt="" src="images/if_email_2308112.png"></a><a
              target="_blank" href="http://github.com/franciscaconcha"><img style="width: 38px; height: 38px;"
                alt="" src="images/if_github_2308116.png"></a><a
              target="_blank" href="http://cl.linkedin.com/in/frconcha"><img style="width: 38px; height: 38px;"
                alt="" src="images/if_linkedin_2308061.png"></a><a
              target="_blank" href="http://twitter.com/franconchar"><img style="width: 38px; height: 38px;"
                alt="" src="images/if_twitter_2308045.png"></a><a
              target="_blank" href="http://primerfoton.cl"><img style="width: 38px; height: 38px;"
                alt="" src="images/if_wordpress_2308140.png"></a><a
              target="_blank" href="http://facebook.com/PrimerFotonBlog"><img style="width: 38px; height: 38px;"
                alt="" src="images/if_facebook_2308066.png"></a><a
              target="_blank" href="https://www.flickr.com/photos/astrofran/sets/72157651298918207/"><img
                style="width: 38px; height: 38px;" alt="" src="images/if_flickr_2308115.png"></a><br>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <hr style="width: 900px; height: 1px; color: #ffcccc; margin-left: auto; margin-right: auto; border-style: solid;"><br>
    <div class="content">
      {{ content }}
    </div>
</body>
</html>
