---
layout: blog
---

<a href="#" onClick="history.go(-1)"><< back</a>
<br>

<small><font color="#78909c">{{ page.date | date: "%-d %B %Y" }}</font></small>
<h1>{{ page.title }}</h1>
<span padding-top="-10px"><font color="#78909c"><i class="fa fa-fw fa-tags"></i> [</font>
{% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><small><nobr>{{ tag_name }}</nobr>&nbsp;</small></a>
  {% endfor %}
<small><font color="#78909c">]</span></small>
<p class="view">by {{ page.author | default: site.author }}</font></p>

{{content}}

{% include share-bar.html %}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = page.url;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = page.title; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://word-cluster.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}                            

<br>
<a href="#" onClick="history.go(-1)"><< back</a>
<br>
